.navbar {
    position: fixed;
    font-size: 13px;
    font-family: 'Lora', serif;
    background: transparent;
    backdrop-filter: blur(10px);
    height: 05vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 0;   

}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    border-bottom: solid  black;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-body a:hover{
    color: red;
}




@media screen and (max-width: 575px) {

    .navbar {
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 55px;
        background-color: red;
    }

    .section{
        width: auto;
    }

   
}